/**
 * STICKY FOOTER
 */
html, body { width: 100%; height: 100%; }
#wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100%;
  height:auto !important;
  height:100%;
}
#dilator { padding-bottom: 102px; }
#footer { overflow: hidden; position: relative; margin-top: -72px; height: 72px; }

/* Right here you can start writing your styles */
